<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quản Lý Trang Bán Đồng Hồ</title>
    <link rel="stylesheet" href="/TESTADMIN/css/styless.css" />
  </head>
  <body>
    <div class="sidebar">
      <h2>Quản Lý</h2>
      <ul>
        <li><a href="#" onclick="showPage('dashboard')">Trang Chính</a></li>
        <li><a href="index.php?act=listCategory">listCategory</a></li>
        <li><a href="#" onclick="showPage('products')">Sản Phẩm</a></li>
        <li><a href="#" onclick="showPage('orders')">Đơn Hàng</a></li>
        <li><a href="#" onclick="showPage('customers')">Khách Hàng</a></li>
        <li><a href="#" onclick="showPage('reports')">Báo Cáo</a></li>
      </ul>
    </div>
    <div class="content">
    </div>
</div>
    <script src="scripts.js"></script>
  </body>
</html>
